@import "../../styles/variables";

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    width: 100%;
    max-width: 980px;
    text-align: center;
    color: $white;
    margin-top: auto;
  }

  &__title {
    font-family: $font-headline;
    font-size: 3.75rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
  }

  &__subtitle {
    max-width: 60%;
    margin: 1.75rem auto 3rem;
    font-size: 1.75rem;
  }

  &__button {
    padding: 1em 4em;
    font-weight: 600;
  }

  .advantages {
    align-self: flex-start;
    margin-top: auto;
    color: $white;
  }
}